<% provide(:title, "Admin Sign in") %>
<h1>Admin SignIn</h1>

<% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
<% end %>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(:session, url: admin_login_path) do |f| %>
		
				<%= f.label :email , :required => true%>
				<%= f.text_field :email, class: 'form-control' %>

				<%= f.label :password , :required => true%>
				<%= f.password_field :password, class: 'form-control' %>

				<%= f.submit "Sign In", class: "btn btn-primary" %>
		<% end %>
				
	</div>
</div>