<%= form_for ([need.organization, need]) , html: { multipart: true } do |f| %>

<% if need.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(need.errors.count, "error") %> prohibited this need from being saved:</h2>

    <ul>
    <% need.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>  <div class="row">
  	<div class="col-md-6 col-md-offset-3">


    <%= f.label :title,"Need/Achievement Title: *" %>
    <%= f.text_field :title ,class: 'form-control'%>

    <%= f.label :description, "Need/Achievement Description: *" %>
    <%= f.text_area :description ,class: 'form-control'%>

    <%= f.label :end_date, "End Date: *" %>
    <%= f.date_select :end_date ,class: 'form-control'%>

    <% if need.money == nil %>
      <%= f.label :money, "Money Needed or Money Collected: *"%>
      <%= f.number_field :money,min: 1, class: 'form-control' %>
      <br>
      <% end %>
    <%= f.label :urgent_rate, "Urgent Rate (from 1 to 5): *" %>
    <%= f.number_field :urgent_rate ,min: 1,max: 5,class: 'form-control'  %>

    <h5 style="display:inline-block;"><%= f.label :in_progress ,"In Progress?"%> </h5>
    <h5 style="display:inline-block;">
    <%= f.check_box :in_progress, :style => "width: 110px; height: 50px;" %>
    </h5>

    <h5 style="display:inline-block;"><%= f.label :achievment_flag, "Achivement?" %> </h5>
    <h5 style="display:inline-block;">
    <%= f.check_box :achievment_flag, :style => "width: 50px; height: 50px;" %>
    </h5>

    <div id="hamada">
    <% counter=0 %>
    <%= f.fields_for :need_images do |builder| %>
        <% if counter != need.need_images.count %>
        <div id="<%= counter+1%>">
          <%image =need.need_images[counter]%>
          <%= image_tag  image.photo.url(:medium)%>
          <%= builder.label :caption, "Edit Image #{counter+1}" %>
          <%= builder.text_field :caption ,class: 'form-control'%>
          <%= builder.label :photo, "Edit Image File #{counter+1} " %>
          <%= builder.file_field :photo ,class: 'form-control' %>
          <%= link_to "Delete Image", organization_need_delete_image_path(organization_id: need.organization.id, need_id: need.id, image_id: image.id),{:method => :delete,:remote=>true, :onclick => "remove('#{counter+1}', '#{organization_needs_path+"/"+need.id.to_s+"/edit"}');"} %>
        </div>
        <% else %>
        <div id = "images">
          <div id="image">
            <%= builder.label :caption, "New Image Caption" %>
            <%= builder.text_field :caption, :required=> true,class: 'form-control' %>
            <%= builder.label :photo, "New Image File" %>
            <%= builder.file_field :photo,:required=> true,class: 'form-control' %>
            <%#= link_to "Delete", :onclick => 'remove("image");' %>
          </div>
        </div>
        <button type="button"class: "btn btn-primary" onclick="addNeedImageDiv(<%= counter %>);">Add Another Image</button>

        <% end %>
        <% counter=counter+1 %>
    <% end %>
</div>


  </div>
</div>
<div class="submit">
  <%= f.submit "Done", class: "btn btn-primary" %>
</div>

<% end %>
