<p id="notice"><%= notice %></p>

<% if !@recommended_payments.empty? %>
    <h3>Recommended</h3>
    <% @recommended_payments.each do |pay|%>
        <strong>User name </strong><%=pay.user_name%>|<strong>Donated money </strong><%=pay.donated_money%>|<strong>User number </strong><%=pay.user_number%>|<strong>User address </strong><%=pay.user_address%>
        <strong>Comment </strong><%=pay.comment%>
      
        <div style="width:10%;">
            <%= button_to 'Recieve', organization_need_recieve_pay_path(@need.organization ,id: @need.id, payment_id:  pay.id) ,method: :post, class: "btn btn-primary" %>
            <%= button_to 'Ignore', organization_need_ignore_pay_path(@need.organization ,id: @need.id, payment_id:  pay.id) ,method: :post, class: "btn btn-primary" %>
        </div>
    <% end %> 
    <br>
    <hr>
    <hr>
<% end %>

<% payments=@need.payments.select{ |item| item[:is_recieved] ==false } %>
<% payments.each do |pay| %>
    <% if !@recommended_payments.include?(pay) %>
        <strong>User name </strong><%=pay.user_name%>|<strong>Donated money </strong><%=pay.donated_money%>|<strong>User number </strong><%=pay.user_number%>|<strong>User address </strong><%=pay.user_address%>
        <strong>Comment </strong><%=pay.comment%>
        
        <div style="width:10%;">
            <%= button_to 'Recieve', organization_need_recieve_pay_path(@need.organization ,id: @need.id, payment_id:  pay.id),:method=> :post, :class=>"btn btn-primary", :disabled => (pay.donated_money > ((@need.money - @need.donated_money)+ 0.1*@need.money )) %>
            <%= button_to 'Ignore', organization_need_ignore_pay_path(@need.organization ,id: @need.id, payment_id:  pay.id) ,method: :post, class: "btn btn-primary" %>
        </div>
    <% end %>
    <br>
<%end%>
