<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <br><br>
  <h1>Your donations</h1>

  <%  @user.payments.each do |pay| %>
      <strong>  Name of need: </strong> <%= pay.need_name %>
      <strong> Donated money: </strong> <%= pay.donated_money%>
      <br><br>
  <%end%>

</p>

<% if @user.avatar? %>
	<p>
		<strong>Image:</strong><br />
	  	<%= image_tag @user.avatar.url(:medium) %>
	</p>
<% end %>
<% if admin_logged_in? && !@user.isAdmin%>
  <h1><%= link_to 'Delete Profile', @user, method: :delete, data: { confirm: 'Are you sure?' } %></h1>
<% end %>


</div>
