
<div align="left" style="width:50%;" class="navbar-left">
  <h1>Send A message to Us</h1>

  <%= form_for @contact = Contact.new, :html => {:class => 'form-horizontal'} do |f| %>
     <%= f.label :name %>
    <%= f.text_field :name, :required => true , class: 'form-control'%>
    <%= f.label :email %>
    <%= f.text_field :email, :required => true, class: 'form-control'%>
    <%= f.label :message, :as => :text %>
    <%= f.text_area :message , :required => true, class: 'form-control'%>
    <div class= "hidden">
      <%= f.label :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.submit 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>




