<div class="container">
    <div class="row profile">
    <% if logged_in?  || donor_logged_in? || admin_logged_in? %>
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <% if donor_logged_in? %>
            <% if @current_user.avatar? %>
              <%= image_tag @current_user.avatar.url(),class: "img-responsive"%>
            <% else %>
              <img src="/user_missing.png" class="img-responsive" alt="Missing">
            <% end %>
          <% elsif logged_in? %>
            <% if @current_organization.image? %>
              <%= image_tag @current_organization.image.url(),class: "img-responsive"%>
            <% else %>
              <img src="/user_missing.png" class="img-responsive" alt="Missing">
            <% end %>
          <% elsif admin_logged_in? %>
            <% if current_admin.avatar? %>
              <%= image_tag @current_admin.avatar.url(),class: "img-responsive"%>
            <% else %>
              <img src="/user_missing.png" class="img-responsive" alt="Missing">
            <% end %>
          <% end %> 

        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <% if donor_logged_in? %>
              <%= @current_user.user_name %>
            <% elsif logged_in? %>
              <%= @current_organization.org_name %>
            <% elsif admin_logged_in? %>
              <%= @current_admin.user_name %>
            <% end %> 
          </div>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <%= link_to  organizations_path do %>
              <i class="glyphicon glyphicon-home"></i>
              Organizations
              <% end %>
            </li>
            <li>
              <% if donor_logged_in? %>
                <%= link_to  edit_user_path(current_user) do %>
                <i class="glyphicon glyphicon-user"></i>
                  Account Settings 
                <% end %>
              <% elsif logged_in? %>
                <%= link_to  edit_organization_path(@current_organization) do %>
                <i class="glyphicon glyphicon-user"></i>
                  Account Settings 
                <% end %>
              <% elsif admin_logged_in? %>
                <%= link_to  edit_user_path(current_admin) do %>
                <i class="glyphicon glyphicon-user"></i>
                  Account Settings 
                <% end %>
              <% end %> 
              
            </li>
            <li>
              <% if donor_logged_in? %>
                <%= link_to  user_myKheir_path(user_id:current_user.id) do %>
                <i class="glyphicon glyphicon-ok"></i>
                My Payments
                <% end %>
              <% elsif logged_in? %>
                <%= link_to  organization_needs_path(@current_organization) do %>
                <i class="glyphicon glyphicon-ok"></i>
                  My Needs
                <% end %>
              <% elsif admin_logged_in? %>
                <%= link_to  admin_invite_path do %>
                <i class="glyphicon glyphicon-ok"></i>
                  Add New Admin
                <% end %>
              <% end %> 
              
            </li>
            <% if logged_in? %>
              <li>  
              <%= link_to  organization_Achievements_path(@current_organization) do %>
              <i class="glyphicon glyphicon-ok"></i>
                My Achievements
              <% end %>
              </li>
            <% elsif admin_logged_in? %>
              <li>
              <%= link_to  notApproved_organizations_path do %>
              <i class="glyphicon glyphicon-ok"></i>
                Not Approved Org
              <% end %>
              </li>
              <li>
              <%= link_to  messages_path do %>
              <i class="glyphicon glyphicon-ok"></i>
                Messages
              <% end %>
              </li>
              
            <% end %> 

            <li>
              <a href="/messages/new">
              <i class="glyphicon glyphicon-flag"></i>
              Contact Us
              </a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    
    <div class="col-md-9">
    <% else %>
      <div class="col-md-12">
    <% end %>
    <div class="profile-content">
