<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

    <ul class="users">
    <%= form_tag organizations_path, :method =>'get' do %>
        <%= text_field_tag :search , params[:search] %>
        <%= submit_tag "Search in organizations names" %>
    <% end %>
    <%= link_to "Advanced Search" ,  new_organization_search_path %>
    
    <%= will_paginate %>
    <% @organizations.each do |organization| %>
      <li>
        <h4><strong>Name:</strong</h4>
        <strong> <%= organization.org_name %></strong>
        <h4><strong>Website:</strong</h4>
        <strong>  <%= organization.website_URL%></strong>

        <br>
        <br>
        
        <h5>
          <%= link_to 'Show   ', organization %>
          <%= link_to 'Edit', edit_organization_path(organization) %>
          <%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %>
        </h5>
      </li>
    <% end %>
  </ul>

    <%#= will_paginate %>

<br>
