<p id="notice"><%= notice %></p>

<h1 style="text-shadow: blue -1px -2px 0.5em; ">Organizations</h1>

<!--
    <%= form_tag organizations_path, :method =>'get' do %>
        <%= text_field_tag :search , params[:search] %>
        <%= submit_tag "Search in organizations names" %>
    <% end %>
    <%= link_to "Advanced Search" ,  new_organization_search_path %>
-->


    <% @organizations.each do |organization| %>
    <% if !current_organization?(organization)%>
    <div class="row">

        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
        <%= link_to organization do %>
        <div class="  alert alert-success" style="height:200px">
          <div class="row" style = "max-height:180px ;overflow-y: scroll; ">

            <div class="col-lg-2  ">
              <% if organization.image.exists? %>
                <%= image_tag   organization.image.url(:thumb),
                :class =>" img-circle fancybox"%>
              <% else %>
                <img class=" img-circle fancybox" src="/missing.png" width="100%" height="100%" alt="Missing">
              <% end %>
            </div>


          <div class="col-lg-10 "style = "text-align:center; " >
          <strong>
          <em  style=" font-family: Sans-Serif;"> <%= organization.org_name %></em><br>
          </strong>
          <strong>Email:</strong>
          <em  style=" font-family: Sans-Serif;">  <%= organization.email%></em><br>
          <strong>Website:</strong>
          <em  style=" font-family: Sans-Serif;">  <%= organization.website_URL%></em><br>
          <strong>Information:</strong><br>
          <em  style=" font-family: Sans-Serif;">  <%= organization.info%></em>


        </div>

          </div>
          </div>
          <%end%>
        </div>

  <div class="col-lg-2">
  </div>

</div>
      <%end%>
    <% end %>
