  <p id="notice"><%= notice %></p>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <h1>  <strong>Org name: </strong>
      <br>
        <%= @organization.org_name %>
      </h1>

<%= image_tag @organization.image.url(:medium)%>
      <h1>  <strong>Email:</strong>
        <%= @organization.email %></h1>

      <h1>
        <strong>Website url:</strong>
        <%= @organization.website_URL %>
      </h1>

      <h1>
        <strong>Contacts:</strong>
        <%= @organization.contacts %>
      </h1>

      <h1>
        <strong>Logo url:</strong>
        <%= @organization.logo_url %>
      </h1>

    </section>
  </aside>
</div>
<% @organization.needs.each do |f|  %>
    <% if !f.achievment_flag %>
    <%= render partial: 'showNeeds', locals: {need: f} %>
    <%end%>
<%end%>
<%  if @organization.org_images.present? %>
<h4>List of Images</h4>
<% @organization.org_images.each do |image| %>
  <p>
    <%= image_tag  image.photo.url(:medium)%>
  </p>
<%end%>
<% end %>


<h1><%= link_to 'Needs',organization_needs_path(@organization) %></h1>
<h1><%= link_to 'Achievements',organization_Achievements_path(@organization) %></h1>
<% if current_organization?(@organization)%>
<h1><%= link_to 'Add Need',new_organization_need_path(@organization) %></h1>
<h1><%= link_to 'AddImages',editImages_path(@organization) %></h1>
<% end %>
